In [ ]:
import pandas as pd
from random import shuffle, choice
import numpy as np

<H1> Data_Processing

In [ ]:
df = pd.read_excel('/content/datahkn.xlsx',sheet_name="Final", index_col= False)

In [ ]:
df

,ID món ăn,Tên món ăn,Thể loại món ăn,Nguyên liệu chính,ID bữa ăn,Thể loại bữa ăn,Giá ước tính,Vùng miền,clone
0,1.0,Phở Cuốn Cùng Nước Chấm,Ăn Vặt,"Tỏi, ớt, chanh, bánh phở, cà rốt, ngò, dưa leo...",6.0,Mặn,39000.0,Bắc,Ăn Vặt
1,2.0,Bánh Đúc Mặn,Ăn Vặt,"bột gạo, thịt heo xay, nước cốt dừa, bột năng,...",1.0,Mặn,45000.0,Ba miền,Ăn Vặt
2,3.0,Bánh Đúc Ngọt,Ăn Vặt,"Bột năng, bột gạo, tinh bột bắp , nước cốt dừa...",1.0,Chay,35000.0,Ba miền,Ăn Vặt
3,4.0,Nem Lụi Nướng Và Nước Chấm,Ăn Vặt,"thịt lợn, tôm, bánh tráng, đậu phộng, tương xa...",6.0,Mặn,110000.0,Trung,Ăn Vặt
4,5.0,Cá Viên Chiên Giòn,Ăn Vặt,"cá phi lê, muỗng bột bắp, bột chiên xù, dưa le...",4.0,Mặn,40000.0,Ba miền,Ăn Vặt
...,...,...,...,...,...,...,...,...,...
965,966.0,Trà tắc,Giải khát-Tráng miệng,NaN,7.0,NaN,30000.0,Ba miền,Giải khát-Tráng miệng
966,967.0,Yaourt,Giải khát-Tráng miệng,NaN,7.0,NaN,15000.0,Ba miền,Giải khát-Tráng miệng
967,968.0,Hồng trà,Giải khát-Tráng miệng,NaN,7.0,NaN,15000.0,Ba miền,Giải khát-Tráng miệng
968,969.0,Chè đậu xanh,Giải khát-Tráng miệng,NaN,7.0,NaN,20000.0,Ba miền,Giải khát-Tráng miệng
969,970.0,Bia Larue,Giải khát-Tráng miệng,NaN,15.0,NaN,15000.0,Ba miền,Giải khát-Tráng miệng

In [ ]:
df['Thể loại món ăn'].unique()

array(['Ăn Vặt', 'Bún', 'Canh-Lẩu', 'Cháo', 'Tráng miệng', 'Chiên', 'Gỏi',
       'Hấp', 'Kho', 'Mứt', 'Nướng', 'Xào', 'Xôi', 'Ăn vặt', 'Chả',
       'Dân Dã', 'Dân dã', 'Trộn', 'Chat', 'Luộc', 'Hầm', 'Súp', 'Rang'],
      dtype=object)

In [ ]:
df['Thể loại món ăn'].replace(['Chè', 'Giải khát-Tráng miệng'], ['Tráng miệng', 'Tráng miệng'], inplace=True)

In [ ]:
df['Thể loại món ăn'].replace(['Canh', 'Lẩu'], ['Canh-Lẩu', 'Canh-Lẩu'], inplace=True)

In [ ]:
df

,ID món ăn,Tên món ăn,Thể loại món ăn,Nguyên liệu chính,ID bữa ăn,Thể loại bữa ăn,Giá ước tính,Vùng miền,clone
0,1.0,Phở Cuốn Cùng Nước Chấm,Ăn Vặt,"Tỏi, ớt, chanh, bánh phở, cà rốt, ngò, dưa leo...",6.0,Mặn,39000.0,Bắc,Ăn Vặt
1,2.0,Bánh Đúc Mặn,Ăn Vặt,"bột gạo, thịt heo xay, nước cốt dừa, bột năng,...",1.0,Mặn,45000.0,Ba miền,Ăn Vặt
2,3.0,Bánh Đúc Ngọt,Ăn Vặt,"Bột năng, bột gạo, tinh bột bắp , nước cốt dừa...",1.0,Chay,35000.0,Ba miền,Ăn Vặt
3,4.0,Nem Lụi Nướng Và Nước Chấm,Ăn Vặt,"thịt lợn, tôm, bánh tráng, đậu phộng, tương xa...",6.0,Mặn,110000.0,Trung,Ăn Vặt
4,5.0,Cá Viên Chiên Giòn,Ăn Vặt,"cá phi lê, muỗng bột bắp, bột chiên xù, dưa le...",4.0,Mặn,40000.0,Ba miền,Ăn Vặt
...,...,...,...,...,...,...,...,...,...
965,966.0,Trà tắc,Tráng miệng,NaN,7.0,NaN,30000.0,Ba miền,Giải khát-Tráng miệng
966,967.0,Yaourt,Tráng miệng,NaN,7.0,NaN,15000.0,Ba miền,Giải khát-Tráng miệng
967,968.0,Hồng trà,Tráng miệng,NaN,7.0,NaN,15000.0,Ba miền,Giải khát-Tráng miệng
968,969.0,Chè đậu xanh,Tráng miệng,NaN,7.0,NaN,20000.0,Ba miền,Giải khát-Tráng miệng
969,970.0,Bia Larue,Tráng miệng,NaN,15.0,NaN,15000.0,Ba miền,Giải khát-Tráng miệng

In [ ]:
data = {

}
for i, row in df.iterrows():
    if row['Thể loại món ăn'] not in data:
        data[row['Thể loại món ăn']] = []
    data[row['Thể loại món ăn']].append(row['ID món ăn'])

In [ ]:
def removekey(d, key):
    r = dict(d)
    del r[key]
    return r

In [ ]:
import numpy as np
result_all = []

for key1, values1 in data.items():
    if key1 is not np.nan:
        shuffle(values1)
        for x in values1:
            for i in range(0, 10):
                data_2 = removekey(data, key1)
                for key2, values2 in data_2.items():
                    y_1 = choice(values2)
                    
                data_3 = removekey(data_2, key2)
                if key1 == 'Canh-Lẩu' or key2 == 'Canh-Lẩu':
                    for key3, values3 in data_3.items():
                        y_2 = choice(values3)
                else:
                    key3 = 'Canh-Lẩu'
                    y_2 = choice(data_3['Canh-Lẩu'])

                data_4 = removekey(data_3, key3)
                if key1 == 'Tráng miệng' or key2 == 'Tráng miệng' or key3 == 'Tráng miệng':
                    for key4, values4 in data_4.items():
                        y_3 = choice(values2)
                else:
                    key4 = 'Tráng miệng'
                    y_3 = choice(data_3['Tráng miệng'])

                result = {
                        'x': x,
                        'y_1': y_1,
                        'y_2': y_2,
                        'y_3': y_3,
                    }
                result_all.append(result)

In [ ]:
df1 = pd.DataFrame(result_all)
df1.to_csv('/content/data_use_train.csv', index = False)

<H1> Model

In [ ]:
from sklearn.neighbors import KNeighborsClassifier

from sklearn.model_selection import train_test_split

In [ ]:
df2 = pd.read_csv('/content/data_use_train.csv')

In [ ]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9700 entries, 0 to 9699
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   x       9700 non-null   float64
 1   y_1     9700 non-null   float64
 2   y_2     9700 non-null   float64
 3   y_3     9700 non-null   float64
dtypes: float64(4)
memory usage: 303.2 KB

In [ ]:
df2.head(5)

      x    y_1    y_2    y_3
0  12.0  850.0  760.0  176.0
1  12.0  845.0  777.0  954.0
2  12.0  841.0  282.0  161.0
3  12.0  852.0   87.0  946.0
4  12.0  852.0  763.0  157.0

In [ ]:
df2.tail(5)

          x    y_1    y_2    y_3
9695  851.0  866.0  754.0  157.0
9696  851.0  622.0  785.0  153.0
9697  851.0  862.0  286.0  154.0
9698  851.0  869.0  307.0  957.0
9699  851.0  860.0  450.0  958.0

<H1> Chia train test

In [ ]:
features = ['y_1', 'y_2', 'y_3']
X = df2['x']
y = df2[features]

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [ ]:
X_train = np.array(X_train).reshape(X_train.shape[0], 1)

y_train = np.array(y_train)

<H1> KNN

In [ ]:
knn = KNeighborsClassifier(n_neighbors= 7)

knn.fit(X_train, y_train)

KNeighborsClassifier(n_neighbors=7)

In [ ]:
y_pred = knn.predict(np.array(X_test).reshape(X_test.shape[0], 1))

In [ ]:
df_pred = pd.DataFrame(y_pred, columns=['y_1', 'y_2', 'y_3'])

In [ ]:
df_pred['x'] = np.array(X_test)

In [ ]:
df_pred

        y_1    y_2    y_3      x
0     849.0   96.0  140.0  560.0
1     851.0  442.0  138.0  917.0
2     842.0   79.0  143.0  898.0
3     841.0  854.0  149.0  455.0
4     841.0  282.0  146.0  640.0
...     ...    ...    ...    ...
2905  847.0   76.0  848.0  947.0
2906  844.0   84.0  162.0  623.0
2907  633.0   67.0  141.0  222.0
2908  844.0   59.0  846.0  965.0
2909  844.0   61.0  142.0  234.0

[2910 rows x 4 columns]

<H1> Kiểm tra xem 4 món ăn có khác thể loại không

In [ ]:
df.head()

,ID món ăn,Tên món ăn,Thể loại món ăn,Nguyên liệu chính,ID bữa ăn,Thể loại bữa ăn,Giá ước tính,Vùng miền,clone
0,1.0,Phở Cuốn Cùng Nước Chấm,Ăn Vặt,"Tỏi, ớt, chanh, bánh phở, cà rốt, ngò, dưa leo...",6.0,Mặn,39000.0,Bắc,Ăn Vặt
1,2.0,Bánh Đúc Mặn,Ăn Vặt,"bột gạo, thịt heo xay, nước cốt dừa, bột năng,...",1.0,Mặn,45000.0,Ba miền,Ăn Vặt
2,3.0,Bánh Đúc Ngọt,Ăn Vặt,"Bột năng, bột gạo, tinh bột bắp , nước cốt dừa...",1.0,Chay,35000.0,Ba miền,Ăn Vặt
3,4.0,Nem Lụi Nướng Và Nước Chấm,Ăn Vặt,"thịt lợn, tôm, bánh tráng, đậu phộng, tương xa...",6.0,Mặn,110000.0,Trung,Ăn Vặt
4,5.0,Cá Viên Chiên Giòn,Ăn Vặt,"cá phi lê, muỗng bột bắp, bột chiên xù, dưa le...",4.0,Mặn,40000.0,Ba miền,Ăn Vặt

In [ ]:
import tqdm
len_row = len(df_pred)
count_true = 0
columns = ['y_1', 'y_2', 'y_3', 'x']

for i, row_1 in tqdm.tqdm(df_pred.iterrows()):
    type_tmp = set()
    for j, row_2 in df.iterrows():
        for feature in columns:
            if row_2['ID món ăn'] == row_1[feature]:
                type_tmp.add(row_2['Thể loại món ăn'])
    
    if (len(type_tmp) == 4) and ('Canh-Lẩu' in type_tmp) and ('Tráng miệng' in type_tmp):
        count_true += 1

print("Độ chính xác của mô hình là: ", round((count_true/len_row) * 100, 2))

2910it [03:20, 14.50it/s]

Độ chính xác của mô hình là:  91.99

In [ ]:
def predict(input: str):
    id_mon_an = []
    result_all = []

    for i, row in df.iterrows():
        if (row['Tên món ăn'] == input) or (row['Tên món ăn'] == ' ' + input):
            id_mon_an.append(row['ID món ăn'])
            break
    if len(id_mon_an) == 0:
        print('Không tìm thấy món ăn')
        return
    # dự đoán
    y_pred = knn.predict(np.array(id_mon_an).reshape(np.array(id_mon_an).shape[0], 1))
    for id in y_pred[0]:
        for i, row in df.iterrows():
            if row['ID món ăn'] == id:
                result = {
                    'ID món ăn': id,
                    'Tên món ăn': row['Tên món ăn'],
                    'Thể loại món ăn': row['Thể loại món ăn'],
                    'Giá ước tính': int(row['Giá ước tính']),
                }
                result_all.append(result)
    df_result = pd.DataFrame(result_all)
    total_prices = df_result['Giá ước tính'].sum()
    print("Menu đề xuất là: ")
    print(df_result)
    print(f"Tổng số tiền ước tính cho thực đơn của quý khách là: {total_prices} vnđ")
    # return total_prices

In [ ]:
# Nhập món đầu tiên 
input = 'Tép rang lá chanh'

# dự đoán
predict(input)

Menu đề xuất là:
   ID món ăn              Tên món ăn Thể loại món ăn  Giá ước tính
0      858.0      Súp Tôm Dinh Dưỡng             Súp        150000
1       62.0  Canh Chua Cá Điêu Hồng        Canh-Lẩu        135000
2      140.0               Chè bí đỏ     Tráng miệng         25000
Tổng số tiền ước tính cho thực đơn của quý khách là: 310000 vnđ